/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* 0 - 420px */
@media (max-width: 420px) {
  .container {
    max-width: 100%;
  }
}

/* 420 - 650px */
@media (min-width: 420px) {
  .container {
    max-width: 22em;
  }
}

/* 650 - 850px */
@media (min-width: 650px) {
  .container {
    max-width: 35em;
  }
}

/* 850+ px */
@media (min-width: 850px) {
  .container {
    max-width: 45em;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #2A2D43 !important;
  color: white !important; */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 60em; */
  /* width: 80%; */
  margin: auto;
}

img {
  width: 90%;
  padding: 5%;
}

.title {
  background-color: #007BFF;
  padding: 0.83em;
  margin: 0;
}

textarea {
  width: 100%;
  height: 20em;
  box-sizing: border-box;
}

.editor-window {
  font-family: monospace;
  font-size: 14px;
}

#editor {
  border-style: solid;
  width: 100%;
  text-align: center;
  margin-top: 1em;
}

#preview {
  border-style: solid;
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  /* background-color: white !important; */
}

.center-text {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

blockquote {
  border-left: 3px solid gray;
  padding-left: 5px;
}