/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  /* background-color: #2A2D43 !important;
  color: white !important; */
}

img {
  width: 90%;
  padding: 5%;
}

textarea {
  width: 100%;
  height: 20em;
}

.editor-window {
  font-family: monospace;
  font-size: 14px;
}

#editor {
  border-style: solid;
  width: 80%;
  text-align: center;
  margin: 1em;
}

#preview {
  border-style: solid;
}

code, pre {
  background-color: white !important;
}